@import "./styles/base.scss";

:root {
  --animation-play-state: running;
  --primary-color: hotpink;
  --duration: 1s;
  --easing: cubic-bezier(0.5, 0, 0.5, 1);
}

*,
*:before,
*:after {
  animation-play-state: var(--animation-play-state) !important;
}

body {
  font-family: "Open Sans", sans-serif;
  padding: 5vmin;
  background-color: #f4f4f4;
}

a {
  color: blue;
}

h1 {
  margin: 0;
}

small {
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  margin: 1rem 0;
}

.ball {
  height: 5vmin;
  width: 5vmin;
  left: 50vw;
  border-radius: 50%;
  background: radial-gradient(circle at bottom right, #fb2324, #fe932a);
  // animation-name: move-like-a-square, red-to-green;
  // animation-duration: 1s;
  // animation-fill-mode: both;
  // animation-delay: 0s;
  // animation-iteration-count: infinite;
  // animation-direction: reverse;

  --duration: 0.3s;
  --stagger: 0.15s;
  --interval: calc(var(--duration) - var(--stagger));
  animation: move-right var(--duration) calc(var(--interval) * var(--i)) both;
}

@keyframes move-right {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(10vw);
  }
}

@keyframes move-like-a-square {
  0%,
  100% {
    transform: none;
  }

  25% {
    transform: translateX(20vw);
    animation-timing-function: linear;
  }

  50% {
    transform: translateY(20vw) translateX(20vw);
    animation-timing-function: linear;
  }

  75% {
    transform: translateY(20vw) translateX(0);
  }
}

@keyframes red-to-green {
  from {
    background: red;
  }

  to {
    background: green;
  }
}

#play-button {
  display: block;
  min-width: 5rem;
}
