@import "./styles/base.scss";

:root {
  --animation-play-state: running;
  --primary-color: hotpink;
  --duration: 1s;
  --easing: cubic-bezier(0.5, 0, 0.5, 1);
}

*,
*:before,
*:after {
  animation-play-state: var(--animation-play-state) !important;
}

body {
  font-family: "Open Sans", sans-serif;
  padding: 5vmin;
  background-color: #f4f4f4;
}

a {
  color: blue;
}

h1 {
  margin: 0;
}

small {
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  margin: 1rem 0;
}

.ball {
  height: 5vmin;
  width: 5vmin;
  left: 50vw;
  border-radius: 50%;
  background: radial-gradient(circle at bottom right, #fb2324, #fe932a);
  background: red;
  transition-property: background-color, transform;
  transition-timing-function: linear, ease-in-out;
  transition-duration: 0.25s;
  transition-delay: 0.5s;

  transition: all 2s 0.5 ease-in-out;

  &:hover {
    background: blue;
    transform: scale(2);
    transition-delay: 0s;
    transition-duration: var(--duration), 0.5s;
  }
}

// @keyframes slide-right {
//   from {
//     transform: translateX(0);
//   }
//   to {
//     transform: translateX(50vw);
//   }
// }

#play-button {
  display: block;
  min-width: 5rem;
}
